{% extends 'home/body.html' %}
{% load static %}

{% block list_head %}
<link rel="stylesheet" href="{% static 'webapp/home/style.css' %}">
{% endblock %}

{% block content %}
<div class="contacto">
        <a href="https://api.whatsapp.com/send?phone=3154787021" target="_blank">
            <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp">
        </a>
    </div>
    <main>
        <div class="contenedor_principal">
            <div class="row">
                <div class="col-12">
                    <div class="img_principal"></div>
                </div>
                <div class="col-12 mt-5">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center text-uppercase font-weight-bold">productos</h4>
                        </div>
                        <div class="col-12 mt-5">
                            <div class="row">
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                                <div class="col-2 mb-3">
                                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gPbM0MK8CP8A174rmUwGsADNYKD.jpg" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}